/*Form CSS*/
body{
    background-color: #FCFEFF;;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CBD7F4;
    padding-left: 40%;
}
  
li{
    float: left;
    align-items: center;
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color:#b0c0e6;
  }
  


.header{
    text-align: center;
    
}

.header img{
    height: 15%;
    width: 15%;
}

.header h1{
    text-align: center;
    margin: 0;
}

