/*Body*/
@font-face {
  font-family: "NotoSans";
  src: url("/Users/amanamartin/Desktop/GitHub/shellHacks_Project/static/fonts/Noto_Sans/NotoSans-Regular.ttf")
    format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans-Bold";
  src: url("/Users/amanamartin/Desktop/GitHub/shellHacks_Project/static/fonts/Noto_Sans/NotoSans-Bold.ttf")
    format("ttf");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "NotoSans", sans-serif;
  background-color: #fcfeff;
  padding: 0;
  margin: 0;
}

/*Navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cbd7f4;
  padding-left: 40%;
}

li {
  float: left;
  align-items: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.active {
  background-color: #b0c0e6;
}

/*First Grid*/
.grid-container {
  display: grid;
  margin-top: 100px;
  margin-bottom: 100px;
  grid-template-columns: 50% 50%;
  align-items: center;
}

/*Colorful Square CSS*/
.purple-rectangle {
  position: absolute;
  z-index: 1;
  width: 185px;
  height: 310px;
  left: 385px;
  top: 215px;
  border-radius: 10px;
  background: #d7c4ff;
  opacity: 0.9;
}

.blue-square {
  position: absolute;
  z-index: 2;
  width: 356px;
  height: 392px;
  left: 200px;
  top: 120px;
  border-radius: 10px;
  background: #cbd7f4;
  opacity: 0.9;
}

.pink-square {
  position: absolute;
  z-index: 3;
  width: 322px;
  height: 372px;
  flex-shrink: 0;
  left: 160px;
  top: 130px;
  border-radius: 10px;
  background: rgba(239, 116, 169, 0.7);
}

.layered-img {
  position: absolute;
  width: 363px;
  height: 344px;
  left: 170px;
  top: 145px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 4;
}

.grid-item h1 {
  color: #151515;
  margin-bottom: 0;
  /*padding-top: 40px;*/
  padding-left: 50px;
  /*position: relative;*/
  left: 80px;
  top: 2px;
  color: #151515;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.divisionBorder {
  width: 100%; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  background-color: rgba(203, 215, 244, 0.25);
  border-radius: 4px;
  margin-bottom: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

/* Style for the button */
.divisionBorder button {
  background-color: #d7c3ff;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;

  color: #151515;
  text-align: center;
  font-family: "NotoSans";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;

  padding: 8px 0.8em;
  position: relative;
  text-align: center;
}

/* Style for the icon */
.icon {
  max-width: 100%;
  height: auto;
  justify-content: right;
}

.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}
.tabs {
  top: 105%;
  left: 8%;
  position: absolute;
  margin: 3rem 0;
  background: #ebf1ff;
  width: 1200px;
  height: 702px;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #fcfeff;
  border-right: 0.125rem solid #fcfeff;
  color: black;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;

  border-top: 2px solid #fcfeff; /* Add a top border for the slanted edge */
  border-left: 1px solid #fcfeff; /* Add a left border */
  border-right: 1px solid #fcfeff; /* Add a right border */
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #ebf1ff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #ebf1ff;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  background: #cbd7f4;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #ebf1ff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
  border-radius: 9px 9px 0 0; /* Round the top corners */
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}

.footer {
  bottom: -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cbd7f4;
  padding: 20px;
}

.footer-left {
  flex: 1;
}

.footer-middle {
  font-size: 13px;
  list-style: none;
  text-align: center;
}
.footer-middle li {
  padding: 0;
}

.footer-right {
  flex: 1;
  text-align: right;
}
