/*Body*/

@font-face {
  font-family: "Noto Sans";
  src: url("/Users/amanamartin/Desktop/GitHub/shellHacks_Project/static/fonts/Noto_Sans/NotoSans-Regular.ttf")
      format("ttf"),
    url("/Users/amanamartin/Desktop/GitHub/shellHacks_Project/static/fonts/Noto_Sans/NotoSans-Regular.ttf")
      format("ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Noto Sans", sans-serif;
  background-color: #fcfeff;
  padding: 0;
  margin: 0;
}

/*Navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #cbd7f4;
  padding-left: 40%;
}

li {
  float: left;
  align-items: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.active {
  background-color: #b0c0e6;
}

/*First Grid*/
.grid-container {
  display: grid;
  margin-top: 100px;
  margin-bottom: 100px;
  grid-template-columns: 50% 50%;
  align-items: center;
}

/*Colorful Square CSS*/
.purple-rectangle {
  position: absolute;
  z-index: 1;
  width: 185px;
  height: 310px;
  left: 385px;
  top: 215px;
  border-radius: 10px;
  background: #d7c4ff;
  opacity: 0.9;
}

.blue-square {
  position: absolute;
  z-index: 2;
  width: 356px;
  height: 392px;
  left: 200px;
  top: 120px;
  border-radius: 10px;
  background: #cbd7f4;
  opacity: 0.9;
}

.pink-square {
  position: absolute;
  z-index: 3;
  width: 322px;
  height: 372px;
  left: 160px;
  top: 130px;
  border-radius: 10px;
  background: rgba(239, 116, 169, 0.7);
}

.layered-img {
  position: absolute;
  width: 363px;
  height: 344px;
  left: 170px;
  top: 145px;
  border-radius: 10px;
  z-index: 4;
}

.grid-item h1 {
  color: #151515;
  margin-bottom: 0;
  /*padding-top: 40px;*/
  padding-left: 50px;
  /*position: relative;*/
  left: 80px;
  top: 2px;
  color: #151515;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*Form CSS*/
.container {
  background-color: rgba(203, 215, 244, 25%);
  margin-bottom: 70px;
  padding-top: 2px;
}

form {
  margin: 0;
  margin-top: 33px;
  text-align: center;
  padding-bottom: 28px;
}

textarea {
  resize: none;
  width: 1000px;
  border-radius: 10px;
  background: rgba(247, 247, 249, 0.25);
  background-color: rgb(255, 255, 255);
}

.form-member{
  margin: 0;
  position: relative;
  padding: 0;
}

.pink-star-div img{
  position: absolute;
  z-index: 10;
  width: 265px;
  height: 345px;
  top: -103px;
  right: 145px;
}

/*Submit Button*/

.submit-button {
  background-color: #d7c3ff;
  border-radius: 7px;
  border: 1px solid #7aa7c7;
  box-shadow: 2px 2px rgba(167, 166, 166, 0.6);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  color: #151515;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin: 0;
  margin-top: 30px;
  outline: none;
  padding: 8px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.submit-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.submit-button:active {
  background-color: #a0c7e4;
  box-shadow: none;
  color: #2c5777;
}

/*Sentiment Display Area*/

.expression-statement{
  text-align: center;
  margin-bottom: 50px;
}

.expression-statement img{
  margin-right: 5px;
  position: relative;
  top: 5px;
}

.sentiment-Display {
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  text-align: center;
}
.sentiment-Positive-Display {
  background-color: rgb(34, 244, 34);
  padding: 8px 0.8em;
  line-height: 2;
  margin: 0;
  border-radius: 7px;
  display: inline-block;
}

.sentiment-Negative-Display {
  background-color: red;
  padding: 8px 0.8em;
  line-height: 2;
  margin: 0;
  border-radius: 7px;
  display: inline-block;
}

.input-wrapper {
  display: inline-block;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.input-wrapper:hover {
  border-color: #333; /* Change border color on hover */
  cursor: text; /* Change cursor to text input on hover */
}

/*Footer CSS*/
.footer {
  bottom: -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cbd7f4;
  padding: 20px;
}

.footer-left {
  flex: 1;
}

.footer-middle {
  font-size: 13px;
  list-style: none;
  text-align: center;
}
.footer-middle li {
  padding: 0;
}

.footer-right {
  flex: 1;
  text-align: right;
}
