/*Form CSS*/
body{
    background-color: white;
}

.header{
    background-color: rgb(213, 213, 213);
    text-align: center;
}

.header img{
    height: 15%;
    width: 15%;
}

form{
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

textarea{
    background-color: rgb(224, 224, 224);
    resize: none;
    width: 1000px;
}

/*Submit Button*/
.submit-button{
    margin-top: 25px;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: rgb(150, 150, 150);
}

.submit-button, text{
    color: white;
}

.submit-button:hover{
    opacity: 70%;
}