<!DOCTYPE html>
<html lang="en">
    <!--Head Begins-->
    <head>
        <!--Title-->
        <title>Education</title>

        <!--CSS Files-->
        <link rel="stylesheet" href="../static/css/education.css"/>
    </head>

    <!--Body Begins-->
    <body>
        <div class = "nav-bar">
            <ul>
                <li><a href="index.html">Solutions</a></li>
                <li class="active"><a href="education.html">Education</a></li>
                <li><a href="aboutus.html">About Us</a></li>
            </ul>
        </div>
        <div class = "grid-container" style="padding-bottom: 75px;">
            <div class = "grid-item">
                <div class = "layered-square">
                    <div class = "purple-rectangle">
                    </div>
                    <div class = "blue-square">
                    </div>
                    <div class = "pink-square">
                    </div>
                    <div class = "layered-img">
                        <img src="../static/images/book-girl.png" alt="A woman peeking over a book">
                    </div>
                </div> 
            </div>
            <div class = "grid-item">
                <h1>Educational<br>
                tidbits on<br>
                neurodivergence</h1>
            </div>   
        </div>

        <div class="divisionBorder">
            <div class="links">
                <p>Curious about neurodivergency?</p>
                <button>Check this link out!</button>
                <img src="/Users/amanamartin/Desktop/GitHub/shellHacks_Project/static/images/magnifying-glass.jpg" alt="magnifying glass icon">
            </div>
        </div>


        <div class="wrapper">
            <div class="tabs">
              <div class="tab">
                <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                <label for="tab-1" class="tab-label">Autism</label>
                <div class="tab-content">
                    Autism, also known as Autism Spectrum Disorder (ASD), is a complex neurodevelopmental disorder that affects an individual's social interaction, communication, behavior, and interests.
                     It is characterized by a wide range of symptoms and challenges, which is why it's called a "spectrum" disorder.
                      Autism manifests differently in each person, and its severity can vary from mild to severe.
Some common features of autism include:
Social difficulties: Individuals with autism often have difficulty with social interactions. 
They may struggle with understanding and responding to social cues, such as facial expressions, body language, and emotions. 
They may find it challenging to establish and maintain relationships.
Communication challenges: Many individuals with autism have difficulties with verbal and non-verbal communication. 
Some may be nonverbal and rely on alternative forms of communication, while others may have delayed speech development or repetitive speech patterns.
Repetitive behaviors and interests: People with autism may engage in repetitive movements or behaviors, such as hand-flapping, rocking, or lining up objects.
 They may also have intense, narrow interests and may become highly focused on specific topics or activities.
Sensory sensitivities: Many individuals with autism experience sensory sensitivities, which means they may be hypersensitive or hyposensitive to sensory stimuli like lights, sounds, textures, or smells. 
These sensitivities can affect their comfort and functioning in various environments.
Routines and rituals: Individuals with autism often thrive on routines and may become distressed when their routines are disrupted. They may engage in specific rituals or rituals to help them cope with change or uncertainty.
It's important to note that autism is a lifelong condition, but early intervention and various therapeutic approaches can help individuals with autism develop skills and improve their quality of life. The exact cause of autism is not fully understood, but it is believed to involve a combination of genetic and environmental factors.
Autism is diagnosed based on a set of behavioral criteria outlined in diagnostic manuals like the DSM-5 (Diagnostic and Statistical Manual of Mental Disorders, Fifth Edition). Early diagnosis and appropriate interventions can greatly benefit individuals with autism by providing them with the support and tools they need to navigate the challenges associated with the condition.
                </div>
              </div>
              <div class="tab">
                <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                <label for="tab-2" class="tab-label">ADHD</label>
                <div class="tab-content">My father now and then sending me small sums of money, I laid them out in learning navigation, and other parts of the mathematics, useful to those who intend to travel, as I always believed it would be, some time or other, my fortune to do. </div>
              </div>
              <div class="tab">
                <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                <label for="tab-3" class="tab-label">Down's Syndrome</label>
                <div class="tab-content">When I left Mr. Bates, I went down to my father: where, by the assistance of him and my uncle John, and some other relations, I got forty pounds, and a promise of thirty pounds a year to maintain me at Leyden: there I studied physic two years and seven months, knowing it would be useful in long voyages.</div>
              </div>
            </div>
          </div>


        <div class = "footer">
            <div class="footer-left">
                <h3>Business Logo</h3>
                <p>Florida International University</p>
                <p>3000 NE 151st St, North Miami, FL 33181</p>
                <br>
                <p>Tel: 305-348-3125</p>
                <p>Email: support@companyname.com</p>
                <p style="font-size: 14px;">Copyright &copy; 2023 Cyberdesk - All Rights Reserved</p>
            </div>
            <div class="footer-middle">
                    <ul>
                        <li><a href="#"><b>Solutions</b></a></li>
                        <li><a href="#"><b>Education</b></a></li>
                        <li><a href="#"><b>About Us</b></a></li>
                    </ul>
            </div>
            <div class="footer-right" style="text-align: right;">
                <h4>Sign Up For Our Newsletter!</h4>
                <div class="input-wrapper">
                <label for="emailLine">Email Address</label><br>
                <input type="email" id = "emailLine" placeholder="Enter your email">
                </div>
                <br>
                <p style="font-size: 11px;">By submitting the form, you agree to our <u>Privacy Policy</u>.</p>  
            </div>
        </div>
        
        
    </body>
</html>
