<!DOCTYPE html>
<html lang="en">
    <!--Head Begins-->
    <head>
        <!--Title-->
        <title>Education</title>

        <!--CSS Files-->
        <link rel="stylesheet" href="../static/css/education.css"/>
    </head>

    <!--Body Begins-->
    <body>
        <!--Navbar-->
        <img class = "logo"src="../static/images/logo.png" alt="CanTeachMe logo">
        <div class = "nav-bar">
            <ul>
                <li><a href="index.html">De-Mystifier</a></li>
                <li class="active"><a href="education.html">Education</a></li>
                <li><a href="aboutus.html">About Us</a></li>
            </ul>
            <div class = "nav-buttons">
                <button class = "sign-in">
                    Sign In
                </button>
                <button class = "sign-up">
                    Sign Up
                </button>
            </div>
        </div>

        <!--First Grid-->
        <div class = "grid-container" style="padding-bottom: 75px;">
            <div class = "grid-item">
                <div class = "layered-square">
                    <div class = "purple-rectangle">
                    </div>
                    <div class = "blue-square">
                    </div>
                    <div class = "pink-square">
                    </div>
                    <div class = "layered-img">
                        <img src="../static/images/book-girl.png" alt="A woman peeking over a book">
                    </div>
                </div> 
            </div>
            <div class = "grid-item">
                <h1>Educational<br>
                tidbits on<br>
                neurodivergence</h1>
            </div>   
        </div>

        <!--AD Break-->
        <div class="advertisement">
            <h2 style="font-size: 20px">Curious about neurodivergency?</h2>
            <button>Check this link out!</button>
            <img src="../static/images/magnifying-glass.png" alt="Magnifying glass"/>            
        </div>
        <br>
        <!--Tab Content-->
        <div class="wrapper" style = "margin-top: 290px;">
            <div class="tabs">
              <div class="tab">
                <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                <label for="tab-1" class="tab-label">Autism</label>
                    <div class="tab-content">
                        <div class = "autismText">
<h1><strong>What is Autism?</strong></h1>
                        Autism, also known as Autism Spectrum Disorder (ASD), is a complex neurodevelopmental disorder that<br> affects an individual's social interaction, communication, behavior, and interests.
                         It is characterized by a wide<br> range of symptoms and challenges, which is why it's called a "spectrum" disorder.
                          Autism manifests<br>differently in each person, and its presentations can vary.<br>
    Some common features of autism include:<br>
    <ol>
        <li>Social difficulties: Individuals with autism often have difficulty with social interactions. They may struggle with understanding and responding to social cues, such as facial expressions, body language, and emotions. 
            They may find it challenging to establish and maintain relationships. </li>
        <li>Communication challenges: Many individuals with autism have difficulties with verbal and non-verbal communication. 
            Some may be nonverbal and rely on alternative forms of communication, while others may have delayed speech development or repetitive speech patterns.</li>
        <li>Repetitive behaviors and interests: People with autism may engage in repetitive movements or behaviors, such as hand-flapping, rocking, or lining up objects.
            They may also have intense, narrow interests and may become highly focused on specific topics or activities.</li>
        <li>Sensory sensitivities: Many individuals with autism experience sensory sensitivities, which means they may be hypersensitive or hyposensitive to sensory stimuli like lights, sounds, textures, or smells. 
            These sensitivities can affect their comfort and functioning in various environments.</li>
        <li>Routines and rituals: Individuals with autism often thrive on routines and may become distressed when their routines are disrupted. They may engage in specific rituals or rituals to help them cope with change or uncertainty.</li>
    </ol>
    <br>It's important to note that autism is a lifelong condition, but early intervention and various therapeutic<br>approaches can help individuals with autism develop skills and improve their quality of life. The exact cause<br> of autism is not fully understood, but it is believed to involve a combination of genetic and environmental<br>factors.  
    <br>Autism is diagnosed based on a set of behavioral criteria outlined in diagnostic manuals like the DSM-5<br> (Diagnostic and Statistical Manual of Mental Disorders, Fifth Edition). Early diagnosis and appropriate<br>interventions can greatly benefit individuals with autism by providing them with the support and tools they<br> need to navigate the challenges associated with the condition.
                    </div>
                </div>
                
              </div>
              <div class="tab">
                <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                <label for="tab-2" class="tab-label">ADHD</label>
                <div class="tab-content"></div>
              </div>
              <div class="tab">
                <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                <label for="tab-3" class="tab-label">Down's Syndrome</label>
                <div class="tab-content"></div>
              </div>
            </div>

            <!--Horizontal Labels-->
                <div class="hozLabels" style="background: #CBD7F4; box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25); 
                border-radius: 10px; border: 0.24px #151515 solid">
                    Overview
                </div>
                <div class="hozLabels" style="background: #CBD7F4; box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25); 
                border-radius: 10px; border: 0.24px #151515 solid; top: 120px">
                    Symptoms and Causes
                 </div>
                <div class="hozLabels" style="background: #CBD7F4; box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25); 
                border-radius: 10px; border: 0.24px #151515 solid; top: 120px">
                    Diagnosis and Tests
                </div>
                <div class="hozLabels" style="background: #CBD7F4; box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25); 
                border-radius: 10px; border: 0.24px #151515 solid; top: 120px">
                    Prevention
                </div>
                <div class="hozLabels" style="background: #CBD7F4; box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25); 
                border-radius: 10px; border: 0.24px #151515 solid; top: 120px">
                    Outlook/Prognosis
                </div>
                <div class="hozLabels" style="background: #CBD7F4; box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25); 
                border-radius: 10px; border: 0.24px #151515 solid; top: 120px">
                    FAQs
                </div>


        <!--Footer-->
        <div class = "footer">
            <div class="footer-left">
                <img src="../static/images/logo.png" alt="CanTeachMe logo" class="logo" style="left: 0px">
                <br>
                <p style="padding-top:15px;">Florida International University</p>
                <p style="padding-bottom: 5px;">3000 NE 151st St, North Miami, FL 33181</p>
                <p style="font-size: 12px;">Tel: 305-348-3125</p>
                <p style="font-size: 12px;">Email: support@canteachme.com</p>
                <p style="font-size: 11px;">Copyright &copy; 2023 Cyberdesk - All Rights Reserved</p>
            </div>
            <div class="footer-middle">
                <ul>
                    <li>
                        <p><b><a href="index.html">De-Mystifier</a></b></p>
                    </li>
                    <li>
                        <p><b><a href="education.html">Education</a></b></p>
                    </li>
                    <li>
                        <p><b><a href="aboutus.html">About Us</a></b></p>
                    </li>
                </ul>
            </div>
            <div class="footer-right" style="text-align: right;">
                    <h4>Sign Up For Our Newsletter!</h4>
                    <div class="input-wrapper">
                    <label for="emailLine">Email Address</label><br>
                    <input type="email" id = "emailLine" placeholder="Enter your email">
                    </div>
                    <br>
                    <p style="font-size: 11px;">By submitting the form, you agree to our <u>Privacy Policy</u>.</p>  
                </div>

            </div>
        </div>
        
        
    </body>
</html>
