<!DOCTYPE html>
<html lang="en">
    <!--Head Begins-->
    <head>
        <!--Title-->
        <title>Education</title>

        <!--CSS Files-->
        <link rel="stylesheet" href="../static/css/education.css"/>
    </head>

    <!--Body Begins-->
    <body>
        <div class = "nav-bar">
            <ul>
                <li><a href="/">Solutions</a></li>
                <li class="active"><a href="education.html">Education</a></li>
                <li><a href="aboutus.html">About Us</a></li>
            </ul>
        </div>
        <div class = "grid-container" style="padding-bottom: 75px;">
            <div class = "grid-item">
                <div class = "layered-square">
                    <div class = "purple-rectangle">
                    </div>
                    <div class = "blue-square">
                    </div>
                    <div class = "pink-square">
                    </div>
                    <div class = "layered-img">
                        <img src="../static/images/woman-picture.png" alt="A woman peeking over a book">
                    </div>
                </div> 
            </div>
            <div class = "grid-item">
                <h1>Educational<br>
                tidbits on<br>
                neurodivergence</h1>
            </div>   
        </div>

        <div class="divisionBorder"></div>

        <div class = "container">
        </div>
        <div class = "footer">
            <div class="footer-left">
                <h3>Business Logo</h3>
                <p>Florida International University</p>
                <p>3000 NE 151st St, North Miami, FL 33181</p>
                <br>
                <p>Tel: 305-348-3125</p>
                <p>Email: support@companyname.com</p>
                <p style="font-size: 14px;">Copyright &copy; 2023 Cyberdesk - All Rights Reserved</p>
            </div>
            <div class="footer-middle">
                <!-- Navigation Links (Solutions, About, Education) -->
                <ul>
                    <li><a href="#">Solutions</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Education</a></li>
                </ul>
            </div>
            <div class="footer-right" style="text-align: right;">
                <h4>Sign Up For Our Newsletter!</h4>
                <div class="input-wrapper">
                <label for="emailLine">Email Address</label><br>
                <input type="email" id = "emailLine" placeholder="Enter your email">
                </div>
                <br>
                <p style="font-size: 11px;">By submitting the form, you agree to our <u>Privacy Policy</u>.</p>  
            </div>
        </div>
        
        
    </body>
</html>
