<!DOCTYPE html>
<html lang="en">
    <!--Head Begins-->
    <head>
        
        <!--Bootstrap-->


        <!--CSS Files-->
        <link rel="stylesheet" href="../static/style.css"/>

    </head>

    <!--Body Begins-->
    <body>
        <form>
            <div class = "form-member">
                <label for="expression">Input Message or Expression:</label>
                <input type="text" id="expression" name="expression" />
            </div>
            <button class="submit-button">
                Submit
            </button>
        </form>

    </body>
</html>
