<!DOCTYPE html>
<html lang="en">
    <!--Head Begins-->
    <head>
        
        <!--Bootstrap-->


        <!--CSS Files-->
        <link rel="stylesheet" href="../static/style.css"/>

    </head>

    <!--Body Begins-->
    <body>
        <form method="POST" action="/">
            <div class = "form-member">
                <label for="expression">Input Message or Expression:</label><br>
                <textarea rows="5" id="expression" name="expression">
                </textarea>
            </div>
            <button class="submit-button">
                Submit
            </button>
        </form>
        <p>Suggestion {{suggestion}}</p>

    </body>
</html>
